<!-- Author: Adam Forbush -->
<!-- Description: View #1 -->

@{
    ViewData["Title"] = "Home";
}

<body class="index-body">

    <div class="text-center">
        <!-- Requirement for the Heading that introduces my site-->
        <h1>Welcome to my site!</h1>
        <!-- First Image -->
        <img src="~/imgs/dsc_1161_720.jpg" class="image-1" />
        <!-- Paragraph 1 -->
        <p class="p-width">
            Here you will find so much information about me and my life! Welcome to my life! I have so many things to talk
            about that I won't have time to cover everything about me on this website! To learn more about my hobbies click
            the "Favorite Hobbies" tab above!
        </p>
    </div>

    <div class="text-center">
        <h1>The Hobbies I Love!</h1>
        <!-- Second Image -->
        <img src="~/imgs/backpacking.jpg" class="image-2" />
        <!-- Paragraph 2 -->
        <p class="p-width">
            One of my favorite hobbies is to spend time outdoors. The picture above shows me backpacking in the
            backcountry of Yellowstone. This has been a family tradition for the last 75 years to hike down to Heart Lake,
            which is a 10-mile hike! My family has been doing it for generations.
        </p>
        <div class="hobbies-list">
            <h2>Some other hobbies I love!</h2>
            <ul>
                <li>Hiking Outdoors</li>
                <li>Hanging out with friends</li>
                <li>Spending time with my family</li>
                <li>Playing Games</li>
            </ul>
        </div>
    </div>

</body>
